<div class = "depot-form">
  <%= form_tag do %>
    <fieldset>
      <legend><%= t('admin.login.please_login') %> </legend>

      <div>
        <label for = "name"><%= t('admin.login.name') %> :</label>
        <%= text_field_tag :name, params[:name]%>
      </div>

      <div>
        <label for ="password"><%= t('admin.login.password') %>:</label>
        <%= password_field_tag :password , params[:password] %>
      </div>

      <div>
        <%= submit_tag t('admin.login.submit') %>
      </div>
      <div>
        <%= "使用其他帐号登入:" -%><br/>
        <%= link_to "新浪帐号登入","http://api.weibo.com/oauth2/get_oauth2_token" %>
      </div>

    </fieldset>
  <% end %>
</div>

