<div id = "product-list">
  <h1><% I18n.t('listing_products') %></h1>
   <table>
   <% @products.each do |product| %>
     <tr class = "<%= cycle('list-line-odd' , 'list-line-even') %>">
       <td><%=link_to image_tag(product.image_url, :class => 'list-image'), admin_product_path(product) %></td>
       <td class = "list-description">
         <dl>
           <dt> <%= link_to  product.title, admin_product_path(product) %></dt>
           <dd><%= truncate( product.description.gsub(/<.*?>/,''), :length=>80) %></dd><br/>
           <dd class ="product-price"><%=number_to_currency(product.price) %> </dd>
         </dl>
       </td>
      <td></td>
      <td><%= link_to I18n.t('admin.product.edit'), edit_admin_product_path(product) %></td>
      <td><%= link_to I18n.t('admin.product.destroy'), admin_product_path(product), :confirm => t('admin.product.destroy_confirm'), :method => :delete %></td>
    </tr>
<% end %>
</table>
</div>
<br />
<div>
  <%= will_paginate @products, :previous_label => I18n.t('admin.product.pre'), :next_label => I18n.t('admin.product.next') %><br/>
  <%= link_to I18n.t('admin.product.newproduct'), new_admin_product_path %>
</div>
