<div class = "depot-form">
  <%= form_for [:admin, @user] do |f|%>
    <%= render :partial => "shared/error_message", :locals => {:object => @user} %>
    <fieldset>
      <legend>Enter User Details</legend>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name, :size => 40 %>
      </div>

      <div>
        <%= f.label :pasword, "Pasword" %>
        <%= f.password_field :password, :size =>40 %>
      </div>

      <div>
        <%= f.label :password_confirmation, 'Confirm' %>
        <%= f.password_field :password_confirmation, :size => 40 %>
      </div>
      <div>
        <%= f.label :admin, "admin" %>
        <%= f.check_box :admin %>
      </div>
      <div>
        <%= f.submit "Save User", :class => "submit" %>
      </div>
    </fieldset>
  <% end %>
</div>
