
<p>
  <b><%= I18n.t('admin.users.name')%>:</b>
  <%= @user.name %>
</p>

<p>
  <b><%= I18n.t('admin.users.admin') %>:</b>
  <%= @user.admin? %>
</p>


<%= link_to I18n.t('admin.users.edit'), edit_admin_user_path(@user) %> |
<%= link_to I18n.t('admin.users.back'), admin_users_path %>
