<tr id="<%= 'current_item' if cart_item == @current_item -%>" product_id="<%= cart_item.product.try(:id) -%>">
  <td><%= cart_item.quantity %> &times;</td>
  <td><%= cart_item.title%> </td>
  <td class = "item-price"><%= number_to_currency(cart_item.price) %></td>
  <td> <%= image_tag "/assets/uploads/1341024625.png", :class => "quantity_add"  %> </td>
  <td> <%= image_tag "/assets/uploads/1341026225.png", :class => "quantity_reduce"  %> </td>
</tr>
