<h1><%= I18n.t 'main.title' -%></h1>
<% for product in @products -%>
  <div class = "entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= product.description %>
    <div class="price-line" >
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= form_tag({:action => 'add_to_cart', :id => product}, {:class => "form-#{product.id}", :remote => true}) do %>
         <%= submit_tag I18n.t('main.button.add'), :style => "cursor:pointer",:disable_with => "Ling..." %>
      <%- end -%>
    </div>
  </div>
<% end %>
<%= will_paginate @products, :previous_label => I18n.t('store.previous'), :next_label => I18n.t('store.next') %><br/>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function() {
  $(".quantity_add").live('click', function() {
    $.ajax({
      url: '/store/add_to_cart.js',
      type: 'POST',
      data: { id: $(this).parents('tr').attr('product_id') }
    });
  });
});
$(function() {
  $(".quantity_reduce").live('click', function() {
    $.ajax({
      url: '/store/reduce_from_cart.js',
      type: 'POST',
      data: { id: $(this).parents('tr').attr('product_id') }
    });
  });
});
//]]>
</script>
