<p>
<b><%= I18n.t('info.email') %>:</b>
  <%= mail_to @order.email %>
</p>
<p>
  <b> <%= I18n.t('info.name') %>:</b>
  <%= @order.name %>
</p>
<p>
  <b><%= I18n.t('info.address')%>:</b>
  <%= @order.address %>
</p>
<p>
  <b><%= I18n.t('info.title')%>:</b>
  <%= @order.products.map(&:title).join(',') %>
</p>
<%= link_to I18n.t('info.back'), who_bought_info_index_path  %>
