<div id = "product-list">
<%- if @product.present? -%>
<h3>People Who Bought <%= @product.title %></h3>
<%- end -%>
<table id = "product-list">
  <tr >
    <td class = "ouder-Email">E-mail</td>
    <td class = "ouder-Name">Name</td>
    <td class = "ouder-Address">Address</td>
    <td class = "ouder-Title">Title</td>
  </tr>
  <% @orders.each do |order| -%>
    <tr class = "<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class = "ouder-Email">
      <%= mail_to order.email %>
    </td>
    <td class = "ouder-Name">
      <%= order.name %>
    </td>
    <td class = "ouder-Address">
      <%=truncate( order.address.gsub(/<.*?>/,''), :length => 15) %>
    </td>
    <td class = "ouder-Title">
      <%=truncate((order.products.map(&:title).join(',')).gsub(/<.*?/,''), :length => 15) -%>
    </td>
    <td><%= link_to 'Show', info_path(order) %></td>
    <td> <%#= link_to "Edit", "#" %></td>
    </tr>
  <% end -%>
</table>
</div>
