<div id = "product-list">
<%- if @product.present? -%>
<h3>People Who Bought <%= @product.title %></h3>
<%- end -%>
<table id = "product-list">
  <tr >
    <td class = "ouder-Email"><%= I18n.t('info.email') %></td>
    <td class = "ouder-Name"><%= I18n.t('info.name') %></td>
    <td class = "ouder-Address"><%= I18n.t('info.address')%></td>
    <td class = "ouder-Title"><%= I18n.t('info.title')%></td>
  </tr>
  <% @orders.each do |order| -%>
    <tr class = "<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class = "ouder-Email">
      <%= mail_to order.email %>
    </td>
    <td class = "ouder-Name">
      <%= order.name %>
    </td>
    <td class = "ouder-Address">
      <%=truncate( order.address.gsub(/<.*?>/,''), :length => 15) %>
    </td>
    <td class = "ouder-Title">
      <%=truncate((order.products.map(&:title).join(',')).gsub(/<.*?/,''), :length => 15) -%>
    </td>
    <td><%= link_to I18n.t('info.show'), info_path(order) %></td>
    </tr>
  <% end -%>
</table>
</div>
