<html>
  <head>
    <title>Pragprog Books Online Store
    </title>
    <%= stylesheet_link_tag "depot", :media => "all"%>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  <body id = "store">
    <div id = "banner">
      <%= form_tag "", :method => "GET", :class => 'locale' do %>
        <%#=  Product.human_attribute_name(:title) -%>
        <div class = "welcome">
          <%- if current_page?(root_path) || current_page?(admin_products_path) %>
            <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale), :onchange => 'this.form.submit()' %>
          <% end %>
        <%= javascript_tag "$('.locale input').hide()" %>
        <% if session[:user_id]%>
          <%= current_user.name %><%= I18n.t('layout.hello.howdy') %>
         <% else %>
           <%= "游客您好" %>
         <% end%>
       </div>
      <% end %>
      <%= image_tag("/logo.png") %>
      <%= @page_title || I18n.t('layout.title')%>
    </div>
    <div id = "columns">
      <div id = "side" >
        <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
            <%= render :partial => "cart", :object => @cart %>
          <% end %>
        <% end %>
      </div>
        <% if current_user.try(:admin?) %>
          <br />
           <%= link_to I18n.t('layout.side.orders'), who_bought_info_index_path %><br/>
           <%= link_to I18n.t('layout.side.products'), admin_products_path %><br/>
           <%= link_to I18n.t('layout.side.users'), admin_users_path  %><br/>

           <br />
         <% else %>
            <%= link_to I18n.t('layout.side.home'), root_path -%><br/>
         <% end %>
        <% if current_user %>
            <%= link_to I18n.t('layout.side.changepassword'), change_password_users_path%><br/>
            <%= link_to I18n.t('layout.side.logout'), admin_lonout_path %><br/>
        <% else %>
            <%= link_to I18n.t('layout.side.registereduser'), new_user_path%><br/>
            <%= link_to I18n.t('layout.side.login'), admin_login_path %><br/>
        <% end %>
      </div>
      <div id = "main" >
        <% if flash[:notice] -%>
          <div id = "notice"><%= flash[:notice] %> </div>
        <% end -%>
        <%= yield :layout%>
      </div>
    </div>
  </body>
</html>
