<html>
  <head>
    <title>Pragprog Books Online Store
    </title>
    <%= stylesheet_link_tag "depot", :media => "all"%>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  <body id = "store">
    <div id = "banner">
      <%= form_tag "", :method => "GET", :class => 'locale' do %>
        <%#=  Product.human_attribute_name(:title) -%>
        <div class = "welcome">
        <%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale), :onchange => 'this.form.submit()' %>
        <%= javascript_tag "$('.locale input').hide()" %>
        <% if session[:user_id]%>
           <%= current_user.name %>您好
         <% else %>
           <%= "游客您好" %>
         <% end%>
       </div>
      <% end %>
      <%= image_tag("/logo.png") %>
      <%= @page_title || I18n.t('layout.title')%>
    </div>
    <div id = "columns">
      <div id = "side" >
        <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
            <%= render :partial => "cart", :object => @cart %>
          <% end %>
        <% end %>
      </div>
        <% if current_user.try(:admin?) %>
          <br />
           <%= link_to "Orders", "#" %><br/>
           <%= link_to "Products", admin_products_path %><br/>
           <%= link_to "Users", admin_users_path  %><br/>

            <%= link_to "注册用户", add_user_users_path%><br/>
           <br />
         <% else %>
            <%= link_to I18n.t('layout.side.home'), :controller => "store" -%><br/>
            <a href="products/new"><%= I18n.t 'layout.side.questions' -%></a><br/>
            <a href="products/new"><%= I18n.t 'layout.side.news' -%></a><br/>
            <a href="http://www.../contact"><%= I18n.t 'layout.side.contact' -%></a><br/>
            <%= link_to "注册用户", new_user_path%><br/>
        <% end %>
        <% if current_user %>
            <%= link_to "修改密码", change_password_users_path%><br/>
            <%= link_to "Logout", admin_lonout_path %><br/>
        <% else %>
            <%= link_to "Login", admin_login_path %><br/>
        <% end %>
      </div>
      <div id = "main" >
        <% if flash[:notice] -%>
          <div id = "notice"><%= flash[:notice] %> </div>
        <% end -%>
        <%= yield :layout%>
      </div>
    </div>
  </body>
</html>
